*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color:  hsl(30, 38%, 92%);
}
.wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container{
    height:100%;
    width:1200px;
    margin:0 auto;
    background-color:  hsl(30, 38%, 92%);
    
     display:flex; 
     justify-content: center; 
     align-items: center; 
}
 .card {
     margin: 1em 2em; 
     max-width: 700px;
     height:341px; 
    background-color: white;
    border-radius: 1.5em;
    display:flex;
  } 
  .img{

    /* display: block; */
    width: 250px;
    height: 100%;
    border-radius: 1.5em 0 0 1.5em;
    object-fit: cover;
  }
  .card-text {
    text-align: left;
    margin: 1.5em 2em;
  }
  .product{
    font-family: "Montserrat", sans-serif;
    color:hsl(228, 12%, 48%);
    text-transform:uppercase;
    font-weight:500;
     letter-spacing: 0.3rem; 
  }
  .product-title{
    color:black;
    margin: 0.6em 0 0.7em 0;
    font-size:2rem;
    font-weight:700;
    font-family: "Fraunces", serif;
    line-height: 1;
  }
   .description{
     font-family: "Montserrat", sans-serif; 
    color:hsl(228, 12%, 48%);
    width:96%;
    font-size:1rem;
    font-weight:500;
    margin-bottom:1.5rem;
  } 
  #green-text {
    margin-right: 0.3em;
    color: hsl(158, 36%, 37%);
    font-size:2rem;
    font-family: "Montserrat", sans-serif; 
    font-weight:600;
  }
  .strike{
    text-decoration:line-through;
    font-family: "Montserrat", sans-serif; 
  }
  .btn{
    margin: 2em 0 1em 0;
    background-color: hsl(158, 36%, 37%);
    width:100%;
    padding:1em 0;
    color:white;
    border:0;
    border-radius:0.5rem;
    cursor:pointer;
  }
.btn:hover{
  background-color: hsl(156, 24%, 24%);
}
.cart-icon{
  margin-right: 1em;
  
}
#cart-text{
color:white;
font-size:1rem;
}
